@CHARSET "ISO-8859-1";

*{
	font-family: Tahoma,Arial,sans-serif;
}
.tabela  tr:nth-child(odd){
	background-color: #DEDEDE;
}

.tabela  tr:nth-child(even){
	background-color: #fff;
}


 table{
	
	font-family: Tahoma,Arial,sans-serif;
	font-size: 11px;
	border: 2px solid #dEdEdE;
	width: 100%;
}

.check-box{
	float: left;
	
}
.check-column{
	padding:5px;
	background-color: black;
	color:white;
}

.container{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
}

body{
	margin: 0;
	background-color:#F5FAFF;
}

legend{
	color:blue;
}
#form{
	margin-top: 10px;
}
.bannerLink{
	font-family:sans-serif;
	color:white;
	font-size: 19px;
	text-decoration: none;
	margin-left: 50px;
	
	
}
.header{
	
	background: url(#{resource['imagens:bg_black_gradient.jpg']});
	
	height: 102px;
	margin: 0 auto;
	padding-top:10px;
}
.tituloBanner{
	color:white;
	text-decoration: none;
	font-style: italic;
}
.footer{
	position: fixed;
	bottom: 0;
	font-family: Comic Sans MS, Arial;
	font-size: 9px;
	color:black;
	width:100%;
}
.content{
	padding-bottom: 30px;
}
.erro{
	color:red;
}

#field{
	margin-left: 10px;
}

.busca_texto{
	width: 550px;
	border: 1px solic #CCC;
	padding: 3px;
}

.barra-de-pesquisa{
	font-family: Tahoma, sans-serif, Arial;
	font-size: 17px;
	margin-bottom: 20px;
	width: 560px;
}
.botao-proximo{

	float:right;
}

.pag-label{
	margin-left: 250px;
	
	}

.banner-1{
	width:50px;
	height:150px;	
}


.rss-link{
	float:left;
	text-decoration: none;
	bottom:530px;
	left:10px;
	margin-right: 90px;
	margin-left: 10px;
}
.twitter-link{
	float:left;
	text-decoration: none;
	bottom:495px;
	left:10px;
	margin-right: 90px;
	margin-left: 10px;
}
.youtube-link{
	float:left;
	text-decoration: none;
	bottom:460px;
	left:10px;
	margin-right: 90px;
	margin-left: 10px;
}

.facebook-link{
	float:left;
	text-decoration: none;
	bottom:425px;
	left:10px;
	margin-right: 90px;
	margin-left: 10px;

}

#hora{
	font-size:10;
	 color:#DAD3B7;
	 float:right;
}
